name: kustomize-checks

on:
  pull_request:

jobs:

  duplicate-release-name-checks:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container: eu.gcr.io/swade1987/kubernetes-toolkit:1.2.0
    steps:
      - name: clone repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: duplicate-helmrelease-name-check
        run: make duplicate-release-name-check

  kubeconform:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container: eu.gcr.io/swade1987/kubernetes-toolkit:1.2.0
    steps:
      - name: clone repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - name: kubeconform-checks
        run: make kubeconform-checks

  pluto:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container: eu.gcr.io/swade1987/kubernetes-toolkit:1.2.0
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - name: pluto-checks
        run: make pluto-checks

  istio-checks:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container: eu.gcr.io/swade1987/kubernetes-toolkit:1.2.0
    steps:
      - name: clone repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: istioctl-checks
        run: make istio-checks

  kustomize-yaml-check:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container: eu.gcr.io/swade1987/kubernetes-toolkit:1.2.0
    steps:
      - name: clone repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: kustomize lint
        run: kustomization-yaml-fix kustomize
      - name: test git is clean
        run: test "$(git status --porcelain | wc -l)" = "0"

  kustomize-diff:
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - id: kustomize-diff
        uses: swade1987/github-action-kustomize-diff@v0.2.0
        with:
          root_dir: "./kustomize"
          max_depth: "2"
      - id: comment
        uses: actions/github-script@v7.0.1
        env:
          OUTPUT: ${{ steps.kustomize-diff.outputs.diff }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const rawOutput = process.env.OUTPUT;
            const noDiffMessage = "No differences found between";

            const formattedOutput = rawOutput.includes(noDiffMessage)
              ? `### ${rawOutput}`
              : `### Kustomize Changes\n<details><summary>Show Diff</summary>\n\n\`\`\`diff\n${rawOutput}\n\`\`\`\n</details>`;

            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: formattedOutput
            })
